In [102]:
import pandas as pd

In [132]:
dic = {'Question No': [1.10, 11.20, 21.30, 31.40, 41.50, 51.60, 61.70],
      'Marks': [6, 5, 9, 2, 5, 4, 6],
      'Passing': ['Fair', 'Star', 'Excellent', 'Poor', 'Star', 'Poor', 'Fair'],
      'Grade': ['A','B','A+','F','B','E','A'],
      'Status': ['Pass', 'Pass','Pass','Fail','Pass','Pass','Pass']}
df = pd.DataFrame(dic, index=[1, 2, 3, 4, 5, 6, 7])
df

   Question No  Marks    Passing Grade Status  Percentage
1          1.1      6       Fair     A   Pass       total
2         11.2      5       Star     B   Pass       marks
3         21.3      9  Excellent    A+   Pass          37
4         31.4      2       Poor     F   Fail         and
5         41.5      5       Star     B   Pass  percentage
6         51.6      4       Poor     E   Pass          is
7         61.7      6       Fair     A   Pass        58.2

# "Name" = "Nabeel Yasir Ahmer Khan"
"Exam" = "Interview"
"Total Marks" = 70
"Passing Marks"= 37
"Percentage" = 58.2
"Division" = "Second"
"Checked by" = "Aleena"
"Date" = 5-Nov-2019